.footer {
    display: flex;
    position: relative;
    bottom: 0;
    left: 0;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: flex-end;
    padding: 20px;
    background: #1f1f1f;
    font-size: 14px;
    text-align: left;
    grid-area: footer;
}