.menu {
    height: 100%;
    transition: .3s;
    color: white;
    display: flex;
    align-items: center;
}


.menu_size_full .content {
    width: 100%;
}

.menu_size_half .content {
    min-width: 230px;
}