.content {
    display: grid !important;
    width: 20%;

    height: 100%;
    transition: all .3s ease-out;
    background-color: #151515;
    grid-template-areas: 'nav sections sections sections'
                        'nav sections sections sections'
                        'nav sections sections sections'
                        'footer sections sections sections';
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.content a,
.content button {
    cursor: pointer;
}

.menu_side_right .content {
    transform: translateX(100%);
}

.menu_size_full .content {
    width: 100%;
}

.menu_size_half .content {
    width: 50%;
    min-width: 250px;
    grid-template-areas: 'nav'
        'sections'
        'footer';
    grid-template-columns: 100%;
}

.menu_size_half .section {
    box-sizing: border-box;
    width: 100%;
    max-width: 100%;
}

.menu_size_half .sections {
    width: 100%;
    height: 100%;
}

@media(min-width: 481px) and (max-width: 767px) {
    .menu {
        height: 100vh;
    }

    .sections {
        position: fixed;
    }
}

@media(max-width: 480px) {
    .content,
    .menu_size_full .content,
    .menu_size_half .content {
        width: 85%;
        min-width: 250px;
    }

    .content {
        position: absolute;
        grid-template-areas: 'nav'
            'sections'
            'footer';
        grid-template-columns: 1fr;
        transition: all .1s ease-out;
    }

    .menu {
        position: relative;
        height: 100%;
     }
}