.section__title a,
.section__title {
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
    padding: 1rem 0;
    text-decoration: none;
    color: white;
}

.section {
    display: flex;
    flex-direction: column;
    max-width: 33%;
    box-sizing: border-box;
    text-align: left;
    padding: 0 20px 20px;
    transition: .4s cubic-bezier(.25,.25,.75,.75);
    /* border: 1px solid #ffffff1a; */
    margin: .25rem;
    box-sizing: content-box;
}

.section:hover {
    background: #0e182d69;
}

.sections {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    height: 100vh;
    grid-area: sections;
    overflow-y: auto;
}

@media(max-width: 767px) {
    .section {
        max-width: 100%;
        width: 100%;
        box-sizing: border-box;
        margin: .25rem .5rem;
    }

    .sections {
        width: 100%;
        height: 100%;
    }

}