.navigation__item {
    display: block;
    transition: background .3s cubic-bezier(.25,.25,.75,.75),
                        color .3s cubic-bezier(.25,.25,.75,.75);
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 2px;
    text-align: left;
    text-transform: uppercase;
}

.navigation {
    grid-area: nav;
}

.navigation__item-href {

    display: block;
    padding: 1rem 1.8rem;
    color: white;
    text-decoration: none;
    user-select: none;
}

.navigation__item-href:hover {
    margin-left: 5%;
    transition:  margin-left .5s cubic-bezier(.19,1,.22,1);

}

.navigation__item:hover {
    background: rgba(255, 255, 255, 0.03);
    color: #c7a567;
}

.navigation__wrapper {
    margin: 20px 0 0;
    padding: 0;
}

.menu_size_full .navigation {
    background: #1f1f1f;
}

.navigation_size_half {
    width: 100%;
}

@media(max-width: 767px) {
    .menu_size_full .navigation {
        width: 100%;
    }

    .navigation__wrapper {
        margin: 0;
    }

}