.section__title a,
.section__title {
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
    padding: 1rem 0;
    text-decoration: none;
    color: white;
}

.section {
    display: flex;
    flex-direction: column;
    max-width: 33%;
    box-sizing: border-box;
    text-align: left;
    padding: 0 20px 20px;
    transition: .4s cubic-bezier(.25,.25,.75,.75);
}

.section:hover {
    background: #0e182d69;
}

.sections {
    display: flex;
    width: 75%;
    flex-wrap: wrap;
    margin: auto;
}