.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: left;
    padding: 20px;
    width: 25%;
    font-size: 14px;
    transition: 10s;
    opacity: 1;
}

@media(max-width: 767px) {
    .footer {
        position: relative;
        width: 100%;
    }
}
