.hamburger {
    position: absolute;
    z-index: 1;
    top: 15px;
    right: 15px;
    cursor: pointer;
    padding: 5px;
    user-select: none;
}

.hamburger__line {
    display: block;
    width: 25px;
    height: 2px;
    margin: 4px 0;
    transition: all 0.3s ease-in-out;
    background-color: white;
}


.hamburger_active .hamburger__line:nth-child(2) {
    opacity: 0;
}
  
.hamburger_active .hamburger__line:nth-child(1) {
    transform: translateY(6px) rotate(45deg);
}

.hamburger_active .hamburger__line:nth-child(3) {
    transform: translateY(-6px) rotate(-45deg);
}